<%- include('partials/header'); %>

<link rel="stylesheet" href="../css/about.css">

<h1>About IEEE</h1>
<div class="about-content">
    <div class="pres">
        <div class="office-card">
            <div class="office-image" id="President">
                <img src="../images/pres.jpeg">
            </div>
            <div class="office-content">
                <strong>President</strong>
                <p>Rhett McMullen</p>
            </div>
        </div>
    </div>
    <div class="vp">
        <div class="office-card">
            <div class="card-vp">
            <div class="office-image">
                <img src="../images/vp.jpg">

            </div>
            <div class="office-content">
                <strong>Vice President</strong>
                <p>Braylon Rieman</p>
            </div>
            </div>
        </div>
    </div>
    <div class="treasure">
        <div class="office-card">
            <div class="office-image">
                <img src="images/treas.jpg">

            </div>
            <div class="office-content">
                <strong>Treasurer</strong>
                <p>Alex Burkholder</p>
            </div>
        </div>
    </div>
    <div class="secretary">
        <div class="office-card">
            <div class="office-image">
                <img src="../images/secretary.jpg">
            </div>
            <div class="office-content">
                <strong>Secretary</strong>
                <p>Jonah Bees</p>
            </div>
        </div>
    </div>
    <div class="advisor">
        <div class="office-card">
            <div class="office-image">
                <img src="../images/Dr-Olimat.jpg">

            </div>
            <div class="office-content">
                <strong>Advisor</strong>
                <p>Dr. Khalid Al-Olimat</p>
            </div>
        </div>
    </div>

</div>

