body h1{
    color:white;
}
.about-content{
    display:grid;
    grid-template-columns: auto auto;
    gap:10px;
}
.office-card{
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: transform .2s ease;
  border-style: solid;
  border-radius: 1px solid black;
  max-width: auto;
  height:100%;

}
.advisor{
    grid-column: 1/3;
    justify-self: center;
    width:50%;
    margin-right:10%;
    /* align-items:center; */
}
.advisor strong{
    padding-left:40px;
}

.secretary strong{
    padding-left:5px;
}
.treasure strong{
    padding-left:15px;
}
.card-vp{
    margin-top:25px;
    display:grid;
    place-self: center;
}
.office-content{
    display:grid;
    justify-content: center;
    grid-template-rows: auto auto;
}
.office-image{
    /* max-width: 150px; */
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    /* width:fit-content; */
    margin-bottom:15px;

}
.office-image img{
    /* width:auto; */
    width:50%;
    height:fit-content;
    padding-top:8px;
    object-fit: cover;
}

.pres .office-content strong{
    padding-left:15px;
}