body {
    min-height: 100vh;
    position: relative;
    /* background-color: black; */
    background-color: #00629B;
}
.welcome-text{
    color:white;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-header img{
    height:fit-content;
    width:20%;
}
.navbar-header{
    display:flex;
}
.navbar-nav{
    display:flex;
    align-items: center;
    height:fit-content;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.contain {
    margin-bottom: 60px;
}
.publish {
    margin-top: 10px;
}
.container .postBody {
    display: inline;
}

.container .post-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}

.container .post-card{
  /* background: #fff; */
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: transform .2s ease;
  border-style: solid;
  border-radius: 1px solid black;
  display:grid;
}

.post-card{
    background-color: black;
}
.container .post-item {
    padding: 15px;
}

#card_img_1{
    margin-top:15px;
}
#card_img_2{
    background-color: white;
}

.post-card .post-item{
    background-color: white;
}

.post-image img{
    width:100%;
    object-fit: cover;
}
.post-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.event-link{
    text-decoration: none;
    color: inherit;
    display: block;
    width:100%
}

.event-link:hover{
    text-decoration: none;
    color: inherit;

}

.image-option{
    width: 75%;
    object-fit: cover;
}